<h2>Create</h2>
<div class="form-horizontal">
	<h4>Post</h4>
	<hr />      
	<form action="" ng-submit="createPost($event)">
		<input type="hidden" name="clientId" value="@clnt.ID" />
        <span style="color: green">{{ currentMessage }}</span>
		<div class="form-group">
			<label class="control-label col-md-2">CategoryID</label>
			<select class = "form-control" ng-model="selectedPost.category" ng-options="x.name for x in categories">
			</select>
			<span ng-show="shouldShowInvalidCategory" class="text-danger field-validation-error">The Category ID field is required.</span>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Title</label>
			<input type="text" class="form-control" ng-model="selectedPost.title">
			<span ng-show="shouldShowInvalidTitle" class="text-danger field-validation-error">The Title field is required.</span>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Content</label>
			<input type="text" class="form-control" ng-model="selectedPost.content">
			<span ng-show="shouldShowInvalidContent" class="text-danger field-validation-error">The Content field is required.</span>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default"/>
			</div>
		</div>
	</form>
</div>
<div>
    <a href="/#!Posts">Back to list</a>
</div>