<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
    <dt>
            Gender
        </dt>

        <dd>
            {{ selectedClient.gender }}
        </dd>

        <dt>
            Client Name
        </dt>

        <dd>
            {{ selectedClient.clientName }}
        </dd>

        <dt>
            Firs Name
        </dt>

        <dd>
            {{ selectedClient.firstName }}
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            {{ selectedClient.lastName }}
        </dd>

        <dt>
            Password
        </dt>

        <dd>
            {{ selectedClient.password }}
        </dd>

        <dt>
            IsAdmin
        </dt>

        <dd>
            {{ selectedClient.isAdmin }}
        </dd>

    </dl>

    <form action="deleteClient" ng-submit="deleteSelectedClient()">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"  ng-click="deleteSelectedClient()"/> |
            <a href="/#!Clients">Back to list</a>
        </div>
    </form>
</div>