<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Gender
        </dt>

        <dd>
            {{ selectedClient.gender }}
        </dd>

        <dt>
            Client Name
        </dt>

        <dd>
            {{ selectedClient.clientName }}
        </dd>

        <dt>
            Firs Name
        </dt>

        <dd>
            {{ selectedClient.firstName }}
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            {{ selectedClient.lastName }}
        </dd>

        <dt>
            Password
        </dt>

        <dd>
            {{ selectedClient.password }}
        </dd>

        <dt>
            IsAdmin
        </dt>

        <dd>
            {{ selectedClient.isAdmin }}
        </dd>

    </dl>
</div>
<p>
    <a href="/#!Clients/Edit">Edit</a> |
    <a href="/#!Clients">Back to list</a>
</p>