<h2>Edit</h2>
<form name="editClientForm" ng-submit="saveEditedClient()">
        <h4>Client</h4>
        <hr />
        <div class="form-group">
			<label class="control-label col-md-2">Gender</label>
            <div class="col-md-10">
				<select class = "form-control" ng-model="selectedClient.gender" ng-options="x for x in genders">
				</select>
				<span ng-show="shouldShowInvalidGender" class="text-danger field-validation-error">The Gender field is required.</span>
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">First Name</label>
            <div class="col-md-10">
				<input required type="text" class="form-control" ng-model="firstname" ng-value="selectedClient.firstName">
				<span ng-show="shouldShowInvalidFirstname" class="text-danger field-validation-error">The First Name field is required.</span>
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">Last Name</label>
            <div class="col-md-10">
				<input required type="text" class="form-control" ng-model="lastname" ng-value="selectedClient.lastName">
				<span ng-show="shouldShowInvalidLastname" class="text-danger field-validation-error">The Last Name field is required.</span>
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">Client Name</label>
            <div class="col-md-10">
				<input required type="text" class="form-control" ng-model="clientname" ng-value="selectedClient.clientName"> 
				<span ng-show="shouldShowInvalidClientname" class="text-danger field-validation-error">The Client Name field is required.</span>
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">Password</label>
            <div class="col-md-10">
				<input required type="password" class="form-control" ng-model="password" ng-value="selectedClient.password">
				<span ng-show="shouldShowInvalidPassword" class="text-danger field-validation-error">The Password field is required.</span>
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">IsAdmin</label>
            <div class="col-md-10">
					<input type="checkbox" ng-model="selectedClient.isAdmin">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
				<input type="submit" class="btn btn-default" value="Save" ng-click="saveEditedClient()" />
            </div>
        </div>
    </div>
</form>
<div>
    <a href="/#!Clients">Back to list</a>
</div>
