<h2>Sign-Up to our blog</h2>
<form action="" ng-submit="createClient($event)">
    <div class="form-horizontal">
        <h4>Registration form</h4>
        <hr />
        <div class="form-group">
            <span style="color: green">{{ currentMessage }}</span>
			<label class="control-label col-md-2">Gender</label>
            <div class="col-md-10">
				<select class = "form-control" ng-model="selectedClient.gender">
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
				<span ng-show="shouldShowInvalidGender" class="text-danger field-validation-error">The Gender field is required.</span>
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">First Name</label>
            <div class="col-md-10">
				<input type="text" class="form-control" ng-model="selectedClient.firstName">
				<span ng-show="shouldShowInvalidFirstname" class="text-danger field-validation-error">The First Name field is required.</span>
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">Last Name</label>
            <div class="col-md-10">
				<input type="text" class="form-control" ng-model="selectedClient.lastName">
				<span ng-show="shouldShowInvalidLastname" class="text-danger field-validation-error">The Last Name field is required.</span>
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">User Name</label>
            <div class="col-md-10">
				<input type="text" class="form-control" ng-model="selectedClient.userName">
				<span ng-show="shouldShowInvalidClientname" class="text-danger field-validation-error">The User Name field is required.</span>
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">Password</label>
            <div class="col-md-10">
				<input type="password" class="form-control" ng-model="selectedClient.password">
				<span ng-show="shouldShowInvalidPassword" class="text-danger field-validation-error">The Password field is required.</span>
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">IsAdmin</label>
            <div class="col-md-10">
                <div class="checkbox">
					<input type="checkbox" ng-model="selectedClient.isAdmin">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<input type="submit" class="btn btn-default" value="Create" />
            </div>
        </div>
    </div>
</form>
<div>
	<a href="/#!">Back to home page</a>
</div>