body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../images/Healthy-Food-Fruits-Vegetables-Wallpaper.jpg);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color : white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#comments {
    font-family: Calibri;
}

.comment {
    margin-left: 25px;
    margin-bottom: 10px;
}

.rotate:hover {
    -webkit-animation:spin 2s linear;
    -moz-animation:spin 2s linear;
    animation:spin 2s linear; 
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.multiple-columns {
    columns: 2;
}