<!DOCTYPE html>
<html ng-app="EatHealthy">
<head>
	<title>New EatHealthy</title>
	<meta charset="utf-8">
	<base href="/">
	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<link rel="stylesheet" href="styles/site.css">
	<link rel="stylesheet" href="styles/HealthStyle.css">
	
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>
<body>
	 <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="IndexCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a href="/#!" class="navbar-brand">EatHealthy</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li><a href="/#!Posts">Posts</a></li>	
					<li><a href="/#!RecommendedPosts">Recommended Posts</a></li>
					
					<li ng-if="$root.isCurrentUserAdmin()"><a href="/#!Categories">Categories</a></li>
					<li ng-if="$root.isCurrentUserAdmin()"><a href="/#!Clients">Clients</a></li>
					<li ng-if="$root.isCurrentUserAdmin()"><a href="/#!Markers">Markers</a></li>
					
					<li><a href="/#!UserStatistics">Users Statistics</a></li>
					<li><a href="/#!PostsStatistics">Posts Statistics</a></li>
					<li><a href="/#!About">About</a></li>	
					<li><a href="/#!Contact">Contact</a></li>					
                </ul>
               
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="$root.getCurrentUser() == undefined"><a href="/#!Register">Register</a></li>	
					<li ng-if="$root.getCurrentUser() == undefined"><a href="/#!Login">Login</a></li>
					<li ng-if="$root.getCurrentUser() != undefined"><a style="color: white !important; font-size: 18px;pointer-events:none;" href="#">Welcome {{ $root.getCurrentUser().firstName + " " + $root.getCurrentUser().lastName }}</a></li>
					<li ng-if="$root.getCurrentUser() != undefined"><a href="/#!" ng-click="logout()">Log Out</a></li>
				</ul>
			</div>

		</div>
	</div>

    <div class="container body-content" style="padding-top: 10px; margin-top: 55px;">
        <ng-view></ng-view>

        <!-- Weather service -->
		<br /><br />
		<iframe src="http://free.timeanddate.com/clock/i5xjfv16/n676/tlil/tt0" frameborder="0" width="282" height="19"></iframe>
		<br></br>
		<div ng-controller="TimeCtrl"  width="282" height="19">{{ seconds }}</div>

        <hr />
        <footer>
            <center>

                <p>&copy; 2018 - EatHealthy </p>
            </center>
        </footer>
	</div>
	
	<!-- Libraries -->
	<script src="http://localhost:3001/socket.io/socket.io.js"></script>
	<script src="js/d3.v4.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/angular-cookies.min.js"></script>

	<script src="js/main.js"></script>

	<!-- Controllers -->
	<script src="controllers/index.js"></script>
	<script src="controllers/login.js"></script>
	<script src="controllers/register.js"></script>
	<script src="controllers/home.js"></script>
	<script src="controllers/posts/posts.js"></script>
	<script src="controllers/posts/create.js"></script>
	<script src="controllers/posts/edit.js"></script>
	<script src="controllers/posts/details.js"></script>
	<script src="controllers/posts/delete.js"></script>
	<script src="controllers/recommendedPosts.js"></script>
	<script src="controllers/categories/categories.js"></script>
	<script src="controllers/clients.js"></script>
	<script src="controllers/markers.js"></script>
	<script src="controllers/user_statistics.js"></script>
	<script src="controllers/posts_statistics.js"></script>

	<!-- Services -->
	<script src="services/posts_service.js"></script>
	<script src="services/categories_service.js"></script>
	<script src="services/http_factory.js"></script>
</body>
</html>
