<h2>Index</h2>

<p>
    <a ng-click="setSelectedCategory(undefined)" href="/#!Categories/Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Category Name
        </th>
        <th></th>
    </tr>

    <tr ng-repeat="category in categories">
        <td>
			<p>{{ category.name }}</p>
        </td>
        <td>
			<a ng-click="setSelectedCategory(category)" href="/#!Categories/Edit">Edit</a> |
			<a ng-click="setSelectedCategory(category)" href="/#!Categories/Details">Details</a> |
			<a ng-click="setSelectedCategory(category)" href="/#!Categories/Delete">Delete</a>
	
        </td>
    </tr>

</table>