<style>
    .angular-google-map-container {
        margin-top: 30px;
        height: 400px;
        width: 600px;
    }
</style>

<h2>Contact Us</h2>

<center>
    <aside>
        <div style="display: inline-block;">
            <a href="https://www.facebook.com/" target="_blank">
                <img src="../images/facebook.png" style="width: 48px; height: 48px;" title="Facebook" class="rotate" />
            </a>
        </div>

        <div style="display: inline-block;">
            <a href="https://www.instagram.com/" target="_blank">
                <img src="../images/instagram.png" style="width: 48px; height: 48px;" title="Instagram" class="rotate" />
            </a>
        </div>

        <div style="display: inline-block;">
            <a href="https://www.twitter.com/" target="_blank">
                <img src="../images/twitter.ico" style="width: 48px; height: 48px;" title="Twitter" class="rotate" />
            </a>
        </div>

        <div style="display: inline-block;">
            <a href="https://www.icq.com/" target="_blank">
                <img src="../images/icq.jpg" style="width: 48px; height: 48px;" title="ICQ" class="rotate" />
            </a>
        </div>
    </aside>





    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker idKey='marker.id' coords='marker.coords' ng-repeat="marker in markers">
            </ui-gmap-marker>
    </ui-gmap-google-map>

</center>