<div class="jumbotron">
    <h1 style="text-shadow: 2px 2px 0px #fff; font-family: 'Dosis', sans-serif;">
        EatHealthy
    </h1>
    <p class="lead">Your life, Your choice - Eat Healthy</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome aboard</h2>
        <p class="multiple-columns">
            You can sign-up to our blog, post some data about healty life style and share your knowledge with people around the world.
            You can write some comments to other people and write your opinion.
        </p>

		<p ng-if="$root.getCurrentUser() == undefined"><a class="btn btn-default" href="/#!Register">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Great Healthy Tips</h2>
        <video controls style="width: 560px; height: 315px;" poster="https://i.ytimg.com/vi_webp/EhMdChazw6Q/maxresdefault.webp"
         src="https://www.youtube.com/watch?v=EhMdChazw6Q" type="video/mp4"></video>

         <!--<iframe width="420" height="315" src="https://www.youtube.com/embed/EhMdChazw6Q"></iframe>-->
    </div>
</div>