<div class="jumbotron">
    <h1 style="text-shadow: 2px 2px 0px #fff; font-family: 'Dosis', sans-serif;">
        EatHealthy
    </h1>
    <p class="lead">Your life, Your choice - Eat Healthy</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome aboard</h2>
        <p class="multiple-columns">
            You can sign-up to our blog, post some data about healty life style and share your knowledge with people around the world.
            You can write some comments to other people and write your opinion.
        </p>

		<p ng-if="$root.getCurrentUser() == undefined"><a class="btn btn-default" href="/#!Register">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Great Healthy Tips</h2>
        <video controls style="width: 560px; height: 315px;" poster="https://i.ytimg.com/vi_webp/EhMdChazw6Q/maxresdefault.webp"
         src="https://r5---sn-a8au-aigl.googlevideo.com/videoplayback?expire=1520532223&itag=22&ratebypass=yes&fvip=5&pl=24&ip=193.106.52.32&ei=nyahWsGnIJTSV9aJvTg&ms=au%2Crdu&mt=1520510519&mv=m&id=o-AH-H4biUcgwxQ_PxFkI8ZdPkQWwI8QExHII8hfJaBDCc&mm=31%2C29&mn=sn-a8au-aigl%2Csn-aigllndr&mime=video%2Fmp4&pcm2cms=yes&sparams=dur%2Cei%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpcm2cms%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cexpire&ipbits=0&c=WEB&initcwndbps=593750&requiressl=yes&lmt=1507887386259499&source=youtube&dur=347.393&key=yt6&signature=7EE411E50614AE14B82844A44AF1D26A6BB42061.3CBEDF9ADF8AE8DCDEC9AED31135DF8B9B39F9FD" type="video/mp4"></video>
    </div>
</div>