<div class="jumbotron">
    <h1 style="text-shadow: 2px 2px 0px #fff; font-family: 'Dosis', sans-serif;">
        EatHealthy
    </h1>
    <p class="lead">Your life, Your choice - Eat Healthy</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome aboard</h2>
        <p class="multiple-columns">
            You can sign-up to our blog, post some data about healty life style and share your knowledge with people around the world.
            You can write some comments to other people and write your opinion.
        </p>

		<p ng-if="$root.getCurrentUser() == undefined"><a class="btn btn-default" href="/#!Register">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Great Healthy Tips</h2>
        <video controls style="width: 560px; height: 315px;" poster="https://i.ytimg.com/vi_webp/EhMdChazw6Q/maxresdefault.webp"
         src="https://r5---sn-aigzrn7d.googlevideo.com/videoplayback?id=o-AA2sE7scrh1sdy9saj7yHEpRr28kU0Nh2_ph7A4Ya8Q9&lmt=1507887386259499&ipbits=0&itag=22&dur=347.393&source=youtube&signature=4A736E89E636532E158AAE56C534491CB30099F2.7A4EE3E0A67251989013C1FA284A4B7F9A3418F0&pl=24&ip=79.176.15.229&sparams=dur,ei,expire,id,initcwndbps,ip,ipbits,itag,lmt,mime,mm,mn,ms,mv,pl,ratebypass,requiressl,source&key=cms1&expire=1520452966&c=WEB&ei=BvGfWo-ZLdKg1gL4-L14&ratebypass=yes&mime=video%2Fmp4&requiressl=yes&fvip=5&redirect_counter=1&cm2rm=sn-cx1x9-ua8s7l&req_id=3be1b9ebc6da3ee&cms_redirect=yes&mm=29&mn=sn-aigzrn7d&ms=rdu&mt=1520431307&mv=m" type="video/mp4"></video>
    </div>
</div>