<h2>Statistics of the Posts</h2>
<p>The most popular reviewers by how much they write posts.</p>

<table class="table">
    <tr>
        <th>
            The Post
        </th>
        <th>
            Number Of Comments
        </th>
    </tr>

    <tr ng-repeat="post in posts">
        <td>
            {{ post.title }}
        </td>
        <td>
            {{ post.numberOfComments }}
        </td>
    </tr>

</table>
<link rel="stylesheet" href="styles/user_statistics.css">
<svg width="960" height="450"></svg>