<h2>Create</h2>

<form action="" ng-submit="createMarker($event)">
    <div class="form-horizontal">
        <h4>Marker</h4>
        <hr />
        <span style="color: green">{{ currentMessage }}</span>
        <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="selectedMarker.name">
                <span ng-show="shouldShowInvalidName" class="text-danger field-validation-error">The Name field is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Address</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="selectedMarker.address">
                <span ng-show="shouldShowInvalidAddress" class="text-danger field-validation-error">The Address field is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Latitude</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="selectedMarker.lat">
                <span ng-show="shouldShowInvalidLatitude" class="text-danger field-validation-error">The Latitude field is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Longtitude</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="selectedMarker.long">
                <span ng-show="shouldShowInvalidLongitude" class="text-danger field-validation-error">The Longitude field is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Type</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="selectedMarker.type">
                <span ng-show="shouldShowInvalidType" class="text-danger field-validation-error">The Type field is required.</span>
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a href="/#!Markers">Back to list</a>
</div>