<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Marker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
                Name
            </dt>
    
            <dd>
                {{ selectedMarker.name }}
            </dd>
    
            <dt>
                Address
            </dt>
    
            <dd>
                {{ selectedMarker.address }}
            </dd>
    
            <dt>
                Latitude
            </dt>
    
            <dd>
                {{ selectedMarker.latitude }}
            </dd>
    
            <dt>
                Longitude
            </dt>
    
            <dd>
                {{ selectedMarker.longitude }}
            </dd>
    
            <dt>
                Type
            </dt>
    
            <dd>
                {{ selectedMarker.type }}
            </dd>

    </dl>

    <form action="deleteMarkerForm" ng-submit="deleteSelectedMarker()">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" ng-click="deleteSelectedMarker()"/> |
            <a href="/#!Markers">Back to list</a>
        </div>
    </form>
</div>