<h2>Index</h2>
<p>
    <a href="/#!Markers/Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            Latitude
        </th>
        <th>
            Longtitude
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

    <tr ng-repeat="marker in markers">
        <td>
			{{ marker.name }}
        </td>
        <td>
            {{ marker.address }}
        </td>
        <td>
            {{ marker.latitude }}
        </td>
        <td>
            {{ marker.longitude }}
        </td>
        <td>
            {{ marker.type }}
        </td>
        <td>
			<a ng-click="setSelectedMarker(marker)" href="#!/Markers/Edit">Edit</a> |
			<a ng-click="setSelectedMarker(marker)" href="#!/Markers/Details">Details</a> |
			<a ng-click="setSelectedMarker(marker)" href="#!/Markers/Delete">Delete</a>
        </td>
    </tr>

</table>